
body{
  background-color: rgba(200, 233, 238);
}

.buttonI{
  background-color: rgba(0, 0, 0);
}

.bigDiv{
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: repeat(1, auto);
  padding: 30px;
  border-radius: 15px;
  margin: 4%
}

h1{
  margin-top: 2%;
  margin-bottom: 0%;
}

.header{ 
  border-radius: 15px;
  justify-items: center;
  display: grid;
  margin: 1% 5%;
  margin-bottom: 0%;
}


.fixed{ 
  display: grid;
  grid-template-columns: repeat(2, auto);  
}

.cols{
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 6%
}

img{
  margin-top: 40%;
  margin-left: 5%;
}

.colsFixed{
  border-radius: 15px;
  justify-items: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
}

.scope{
  margin-bottom: 5%;

}

.splitAxis{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
}

.countries{
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin-top: 3px;
}

.madeBy {
  padding: 30px;
  background: rgba(255, 255, 255, 0.327);
  border-radius: 15px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  margin: 35% 10% 0% 30%;
  line-height: 0.7;
  width: 350px;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(1, auto);
  padding: 30px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  margin: 1%;
}

/*Slider*/
.rc-slider-track {
  background-color: #52c9e1;
}

.rc-slider-dot-active {  
  border-color: #52c9e1;
  border: solid 2px #52c9e1;
}

.rc-slider-handle {
  background-color: #52c9e1;
  border-color: #52c9e1;
}

.rc-slider-handle:hover {
  border-color: #52c9e1;
}

.rc-slider-handle-active:active {
  border-color: #52c9e1;
}





